/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: #333;
  color: whitesmoke;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  width: 100%;
  overflow: hidden;
}


div {
  &[space] {
    width: 16px;
    height: 16px;
  }
}
